In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Heart.csv')

In [3]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [4]:
df.drop(['Unnamed: 0'],axis='columns')

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [5]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [6]:
df.drop(['Unnamed: 0'],axis='columns',inplace=True)

In [7]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

### Find shape of the Data

In [8]:
df.shape

(303, 14)

### Find missing values

In [9]:
df.isna()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [10]:
df.isna().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         2
AHD          0
dtype: int64

In [11]:
df.isna().sum().sort_values(ascending = False)

Ca           4
Thal         2
Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
AHD          0
dtype: int64

### Find datatye of each column

In [12]:
df.dtypes

Age            int64
Sex            int64
ChestPain     object
RestBP         int64
Chol           int64
Fbs            int64
RestECG        int64
MaxHR          int64
ExAng          int64
Oldpeak      float64
Slope          int64
Ca           float64
Thal          object
AHD           object
dtype: object

### Finding out zeros

In [13]:
df.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [14]:
for col in df.columns:
    print(f'\n No. of zeros in  {col} : {(df[col]==0).sum()}')

 No. of zeros in  Age : 0

 No. of zeros in  Sex : 97

 No. of zeros in  ChestPain : 0

 No. of zeros in  RestBP : 0

 No. of zeros in  Chol : 0

 No. of zeros in  Fbs : 258

 No. of zeros in  RestECG : 151

 No. of zeros in  MaxHR : 0

 No. of zeros in  ExAng : 204

 No. of zeros in  Oldpeak : 99

 No. of zeros in  Slope : 0

 No. of zeros in  Ca : 176

 No. of zeros in  Thal : 0

 No. of zeros in  AHD : 0

### Mean age of patients

In [15]:
print("Mean Age : ",df['Age'].mean())

Mean Age :  54.43894389438944

### Divide dataset into 2 dataframes randomly with 75% in trainig and 25% in testing

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [18]:
X = df.drop(['AHD'],axis='columns')

In [19]:
X

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal

In [20]:
y = df['AHD']

In [21]:
y

0       No
1      Yes
2      Yes
3       No
4       No
      ...
298    Yes
299    Yes
300    Yes
301    Yes
302     No
Name: AHD, Length: 303, dtype: object

In [22]:
y = y.map({'Yes':1,'No':0})

In [23]:
y

0      0
1      1
2      1
3      0
4      0
      ..
298    1
299    1
300    1
301    1
302    0
Name: AHD, Length: 303, dtype: int64

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [25]:
X_train

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
118,63,1,asymptomatic,130,330,1,2,132,1,1.8,1,3.0,reversable
165,57,1,asymptomatic,132,207,0,0,168,1,0.0,1,0.0,reversable
92,62,1,nonanginal,130,231,0,0,146,0,1.8,2,3.0,reversable
278,57,1,nontypical,154,232,0,2,164,0,0.0,1,1.0,normal
286,58,0,asymptomatic,170,225,1,2,146,1,2.8,2,2.0,fixed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,57,1,asymptomatic,150,276,0,2,112,1,0.6,2,1.0,fixed
132,29,1,nontypical,130,204,0,2,202,0,0.0,1,0.0,normal
59,51,1,typical,125,213,0,2,125,1,1.4,1,1.0,normal
83,68,1,nonanginal,180,274,1,2,150,1,1.6,2,0.0,reversable
192,43,1,asymptomatic,132,247,1,2,143,1,0.1,2,NaN,reversable

In [26]:
X_test

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
143,64,1,nonanginal,125,309,0,0,131,1,1.8,2,0.0,reversable
182,42,1,typical,148,244,0,2,178,0,0.8,1,2.0,normal
225,34,0,nontypical,118,210,0,0,192,0,0.7,1,0.0,normal
231,55,0,asymptomatic,180,327,0,1,117,1,3.4,2,0.0,normal
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,58,1,asymptomatic,146,218,0,0,105,0,2.0,2,1.0,reversable
65,60,1,asymptomatic,145,282,0,2,142,1,2.8,2,2.0,reversable
64,54,1,asymptomatic,120,188,0,0,113,0,1.4,2,1.0,reversable
27,66,0,typical,150,226,0,0,114,0,2.6,3,0.0,normal
102,57,0,asymptomatic,128,303,0,2,159,0,0.0,1,1.0,normal

In [27]:
y_train

118    1
165    0
92     0
278    1
286    1
      ..
37     1
132    0
59     0
83     1
192    1
Name: AHD, Length: 227, dtype: int64

In [28]:
y_test

143    1
182    0
225    0
231    1
302    0
      ..
251    1
65     1
64     1
27     0
102    0
Name: AHD, Length: 76, dtype: int64

### Subset  : Train-Test Split

In [29]:
X1 = df[['Age','Sex','RestBP','Chol']]
X1

     Age  Sex  RestBP  Chol
0     63    1     145   233
1     67    1     160   286
2     67    1     120   229
3     37    1     130   250
4     41    0     130   204
..   ...  ...     ...   ...
298   45    1     110   264
299   68    1     144   193
300   57    1     130   131
301   57    0     130   236
302   38    1     138   175

[303 rows x 4 columns]

In [30]:
y1 = df[['ChestPain']]
y1

        ChestPain
0         typical
1    asymptomatic
2    asymptomatic
3      nonanginal
4      nontypical
..            ...
298       typical
299  asymptomatic
300  asymptomatic
301    nontypical
302    nonanginal

[303 rows x 1 columns]

In [31]:
X1_train,X1_test,y1_train,y1_test = train_test_split(X1,y1,test_size=0.25)

In [32]:
X1_train

     Age  Sex  RestBP  Chol
250   57    1     110   201
88    53    0     138   234
228   54    1     110   206
215   56    1     120   193
230   52    0     136   196
..   ...  ...     ...   ...
242   49    0     130   269
77    51    0     140   308
214   52    1     112   230
120   48    1     130   256
55    54    1     124   266

[227 rows x 4 columns]

In [33]:
X1_test

     Age  Sex  RestBP  Chol
140   59    1     140   221
276   66    0     146   278
193   62    0     138   294
26    58    0     120   340
206   58    1     128   259
..   ...  ...     ...   ...
243   61    1     134   234
72    62    1     120   267
235   54    1     122   286
19    49    1     130   266
58    54    1     125   273

[76 rows x 4 columns]

In [34]:
y1_train

        ChestPain
250  asymptomatic
88   asymptomatic
228  asymptomatic
215       typical
230    nonanginal
..            ...
242  asymptomatic
77     nonanginal
214  asymptomatic
120  asymptomatic
55   asymptomatic

[227 rows x 1 columns]

In [35]:
y1_test

        ChestPain
140    nontypical
276    nonanginal
193  asymptomatic
26     nonanginal
206  asymptomatic
..            ...
243       typical
72   asymptomatic
235  asymptomatic
19     nontypical
58     nonanginal

[76 rows x 1 columns]